<!--Cargamos la plantilla base-->
{% extends "Proyecto_web_app/base.html" %}

<!-- Establecemos el titulo de la página -->
{% block title %}Carro{% endblock %}

<!-- Definimos su contenido -->
{% block content %}

<style>
    .link:hover {
        color: red !important;
        text-decoration: underline !important;
    }
</style>

<!-- si el carro no esta vacio lo recorremos y si lo esta mostramos un mensaje-->
{% if carro.session.carro %}
<div class="container py-4">
    <div class="bg-white text-black">
        <h3 class="ms-3 pt-3">Cesta</h3>
        <p class="ms-3">
            <a href="{% url 'carro:limpiar' %}" style="color: #007185; text-decoration: none;" class="link">
                Anular la selección de todos los artículos</a>
            <hr>
        <div class="row">
            {% for producto in productos %}
            <!-- Convierte producto.id que es int en str para buscarlo en el diccionario
            con la tag slugify-->
            {% if producto.id|slugify in carro.session.carro %}
            <div class="col-4">
                <p>
                    <img src="{{producto.imagen.url}}">
                </p>
            </div>
            <div class="col-8">
                <p>
                <p>{{producto.nombre}}</p>
                <p>{{producto.precio}} €</p>
                </p>
            </div>
            <div class="col-4"></div>
            <div class="col-8">
                <p>
                    <a href="{% url 'carro:restar' producto.id %}">restar producto </a>| 
                    <a href="{% url 'carro:eliminar' producto.id %}">eliminar</a>
                </p>

            </div>
            {% endif %}
            {% endfor %}
        </div>
        </p>
    </div>

    {% else %}

    <div class="container py-4">
        <div class="bg-white text-black">
            <h3 class="ms-3 pt-3">Tu cesta de UnikGAME está vacía.</h3>
            <p class="ms-3 pb-3">Revisa tus productos guardados para más tarde o
                <a href="{% url 'Tienda:tienda' %}">continúa comprando.</a>
            </p>
        </div>
    </div>


    {% endif %}

    {% endblock %}