<!--Cargamos la plantilla base-->
{% extends "Proyecto_web_app/base.html" %}
{% load thumbnail %}

<!-- Establecemos el titulo de la página -->
{% block title %}Carro{% endblock %}

<!-- Definimos su contenido -->
{% block content %}
<div class="container">
    <div class="bg-white text-black">
        {% with total_items=carro|length %}
        {% if total_items > 0 %}
        <h1>Tu Carro de la Compra</h1>
        <p class="ms-3">
            <a href="{% url 'carro:limpiar' %}" style="color: #0fa4b8; text-decoration: none;" class="link">
                Anular la selección de todos los artículos</a>
        </p>
        <hr>
    </div>
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Producto</th>
                <th>Cantidad</th>
                <th>Eliminar</th>
                <th>Precio Unitario</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            {% for item in carro %}
            {% with producto=item.producto %}
            <tr>
                <td>
                    <img src="{% thumbnail producto.imagen 100x0 %}">
                </td>
                <td>{{ producto.nombre }}</td>
                <td>{{ item.cantidad }}</td>
                <td>
                    <a href="{% url 'carro:eliminar' producto.id %}" class="btn btn-danger">Eliminar</a>
                    <a href="{% url 'carro:restar' producto.id %}" class="btn btn-primary">Restar 1 ud</a>

                </td>
                <td class="num">{{ item.precio }} €</td>
                <td class="num">{{item.precio_total}} €</td>
            </tr>
            {% endwith %}
            {% endfor %}
            <!-- <tr class="total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">{{ carro.get_total_price }} €</td>
            </tr> -->
            {% if carro.cupon %}
            <tr class="subtotal">
                <td>Subtotal</td>
                <td colspan="4"></td>
                <td class="num">{{ carro.get_total_price|floatformat:2 }} €</td>
            </tr>
            <tr>
                <td>
                    "{{ carro.cupon.codigo }}" cupón
                    ({{ carro.cupon.descuento}}% descuento)
                </td>
                <td colspan="4"></td>
                <td class="num neg">
                    - {{ carro.conseguir_descuento|floatformat:2 }} €
                </td>
            </tr>
            {% endif %}
            <tr class="Total">
                <td>Total</td>
                <td colspan="4"></td>
                <td class="num">
                    {{ carro.precio_total_despues_de_descuento|floatformat:2 }} €
                </td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>¿Tienes un cupón?:</p>
                <form action="{% url 'cupones:aplicar' %}" method="post">
                    {{ formulario_cupon }}
                    <input type="submit" value="Aplicar" class="btn btn-primary">
                    {% csrf_token %}
                </form>
            </div>
            <div class="col-md-6">
                <div class="d-flex justify-content-end">
                    <p class="text-right">
                        <a href="{% url 'Tienda:tienda' %}" class="btn btn-primary">Continua comprando</a>
                        <a href="{% url 'orders:order_create' %}" class="btn btn-success ml-2">Checkout</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div>
        {% if productos_recomendados %}
        <h3 style="color:aliceblue;">Comprados juntos habitualmente</h3>
        <div class="row">
            {% for p in productos_recomendados %}
            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'carro:agregar' p.id %}">
                            <img src="{% thumbnail p.imagen 100x0 %}" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="{% url 'carro:agregar' p.id %}" style="color: black;">
                            {{ p.nombre }}
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>



    {% else %}
    <div class="container py-4">
        <div class="bg-white text-black">
            <h3 class="ms-3 pt-3">Tu cesta de UnikGAME está vacía.</h3>
            <p class="ms-3 pb-3">Revisa tus productos guardados para más tarde o
                <a href="{% url 'Tienda:tienda' %}">continúa comprando.</a>
            </p>
        </div>
    </div>
    {% endif %}
    {% endwith %}

</div>
{% endblock %}